.html, body
{
	height: 100%;
	background-color: black;
}

.board
{
 	height: 540px;
 	width: 540px;
 	margin-left: auto;
 	margin-right: auto;
 	padding: 10px;
}

.cell
{
	height: 52px;
	width: 52px;
	background-color: #05C5FF;
	box-shadow: inset #000 -1px 0 0 0;
	margin-right: 2px;
	display: inline-block;
}

.1
{
	position: absolute;
	background-image: url('../img/1.png');
  	background-size: contain;
  	background-repeat: no-repeat;
	z-index: 20;
}

#new-game
{

	text-align: center; /* umm is there a proper way to centre this? */
	padding: 10px;
	border: #05C5FF 1px solid;
	width: 510px;
	margin-left: auto;
	margin-right: auto;
}

.header
{
	margin-top:100px;
	text-align: center;
}

img 
{
	margin-top: 5px;
}